<style type="text/css">
  .main_body {
  margin: 0 15px;
  }

  .main_floatLeft {
  line-height:inherit;
  overflow: hidden;
  text-align: left;
  width: 300px;
  }

  .main_floatRight {
  width: 684px;
  }

  .room_title_block {
  background: url("/images/room_titlebg.jpg") repeat-x scroll left center transparent;
  border-bottom: 1px solid #C3C3C3;
  }
  .room_title_block h1{
  float:left;
  font-size:14px;
  font-weight: bold;
  padding: 8px 8px 8px 10px;
  }

  .room_title_block span{
  float:right;
  padding: 8px 8px 8px 20px;
  }

  ul.roomShow_list li .recommendRoom_left {
  float: left;
  padding-right: 5px;
  padding-top: 5px;
  }

  ul.roomShow_list li .recommendRoom_right {
  float: right;
  text-align: left;
  padding-top: 5px;
  }




</style>

<% captions=["掀起一帘幽梦","燕郊温馨公寓","亚运村欢聚一堂","湖光山色两相宜","海豚湾一居","牡丹园五道口"]
   prices =["￥280","￥250","￥270","￥320","￥350","￥220"]
   sources=["商家:爱日租","商家:蚂蚁网","商家:游天下","商家:住我那","商家:途家","商家:美租网"]
  images =["lovedream","warmapt","asiagathering","mountlakes","coastal","flowergarden"]
%>

<div class="main_body">
  <div class="float_left main_floatLeft margin_bottom_15">

      <div class="room_title_block">
        <h1>热门去处</h1>
        <span>
          <a href="#">
            更多>>
          </a>
        </span>
        <div = class="clear"></div>
      </div>

      <div style="height:0px;"></div>

      <ul class="roomShow_list">

        <% 
i = 0
while i < captions.length
%>
          <li style="background: none repeat scroll 0% 0% rgb(255,255,255);">
            
          <div class="recommendRoom_left">

            <a href="/ShowHouse/AAA83BF2B1D8CFB3" target="_blank">
              <img src="/images/<%=images[i]%>.png" alt="<%=captions[i]%>" title="<%=captions[i]%>" width="145" height="92"/>
            </a>

          <div class="room_Address">
            <span class="TColor_535353" title=""
              <%=captions[i]%>">
              <%=captions[i]%>(<font color='red'>
                <%=prices[i]%>
              </font>)
            </span>
          </div>

          <span class="TColor_999">
            <%=sources[i]%>
          </span>

          <div class="clear"></div>
        </div>

        <% 
          i += 1
        %>
            <div class="recommendRoom_right">
                <a href="/ShowHouse/AAA83BF2B1D8CFB3" target="_blank">
                  <img src="/images/<%=images[i]%>.png" alt="<%=captions[i]%>" title="<%=captions[i]%>" width="145" height="92"/>
                </a>

              <div class="room_Address">
                <span class="TColor_535353" title=""
                  <%=captions[i]%>">
                  <%=captions[i]%>(<font color='red'>
                    <%=prices[i]%>
                  </font>)
                </span>
              </div>

              <span class="TColor_999">
                <%=sources[i]%>
              </span>

              <div class="clear"></div>
            </div>

          <div class="clear"></div>
          </li>
        <%
        i +=1
        end
        %>
        
      </ul>
  </div>

  <div class="float_right main_floatRight"></div>
    
  <div class="clear"></div>
</div>
