<% captions=["掀起一帘幽梦","燕郊温馨公寓","亚运村欢聚一堂","湖光山色两相宜","海豚湾一居","牡丹园五道口"]
   prices =["￥280","￥250","￥270","￥320","￥350","￥220"]
   sources=["商家:爱日租","商家:蚂蚁网","商家:游天下","商家:住我那","商家:途家","商家:美租网"]
  images =["lovedream","warmapt","asiagathering","mountlakes","coastal","flowergarden"]
%>

<!--<div style="width:1000px;margin:0 auto">-->
  <div class="bd_div">

    <div style="position:relative;float:left;width:300px;height:587px;text-align:left;padding:0 10px;overflow:hidden;margin:0 auto;">

      <div style="height:30px;
	border-top: 1px solid #BBBBBB;
	background: none repeat scroll 0 0 #E8E8E8;
	line-height:30px;
	padding:0;">
        <span style="float:left;margin: 0 2px;">
          <b>热门去处</b>
        </span>
        <span style="float:right;">
          <a href="#">
            更多>>
          </a>
        </span>
      </div>

      <div style="height:0px;"></div>
      
      <% 
        i = 0
        while i < captions.length
       %>
        <div style="float:left;margin-top:10px;margin-bottom:5px;">
        <span>
        <a href="/ShowHouse/AAA83BF2B1D8CFB3" target="_blank">
          <img src="/images/<%=images[i]%>.png" alt=""<%=captions[i]%>" title="<%=captions[i]%>" width="130" height="92"/>
        </a>
      </span>
      <div class="room_Address">
        <span class="TColor_535353" title=""
          <%=captions[i]%>">
          <%=captions[i]%>(<font color='red'>
            <%=prices[i]%>
          </font>)
        </span>
      </div>
      <div style="color:#999;">
        <span><%=sources[i]%></span>
      </div>
        </div>
          
          <%i += 1%>
            <div style="float:right;margin-top:10px;margin-bottom:5px;">
      <span>
        <a href="/ShowHouse/AAA83BF2B1D8CFB3" target="_blank">
          <img src="/images/<%=images[i]%>.png" alt=""<%=captions[i]%>" title="<%=captions[i]%>" width="130" height="92"/>
        </a>
      </span>
      <div class="room_Address">
        <span class="TColor_535353" title=""
          <%=captions[i]%>">
          <%=captions[i]%>(<font color='red'>
            <%=prices[i]%>
          </font>)
        </span>
      </div>
      <div style="color:#999;">
        <span><%=sources[i]%></span>
      </div>
            </div>
            <div style="float:left;height:0px;width:100%;border:1px solid #999;"></div>
 <%
  i +=1
  end
  %>
    </div>

    <div style="float:right;position:relative;height:587px;text-align:left;padding:0 10px;overflow:hidden;margin:0 auto;">
      <a href=#"><img src="/images/mobile.png" alt="Mobile download" title="Mobile Download" width="684" height="70"/></a>
    </div>
    </div>