<style type="text/css">
  .main_body {
  margin: 0 10px;
  background-color: #FFFFFF;
  }

  .main_floatLeft {
  line-height:inherit;
  overflow: hidden;
  text-align: left;
  width: 300px;
  }

  .main_floatRight {
  width: 664px;
  }

  .section_title_block {
  background: url("/images/room_titlebg.jpg") repeat-x scroll left center transparent;
  border-bottom: 1px solid #C3C3C3;
  border-top: 1px solid #f0f0f0;

  }
  .section_title_block h1{
  float:left;
  font-size:14px;
  font-weight: bold;
  padding: 8px 8px 8px 10px;
  }

  .section_title_block span{
  float:right;
  padding: 8px 8px 8px 20px;
  }

  li .recommendRoom_left {
  float: left;
  padding-right: 5px;
  padding-top: 5px;
  background-color: #FFFFFF;
  position: relative;
  }

  li .recommendRoom_right {
  float: right;
  text-align: left;
  padding-top: 5px;
  background-color: #FFFFFF;
  }

  li .place_left {
  float: left;
  padding-right: 5px;
  padding-top: 5px;
  background-color: #FFFFFF;
  position: relative;
  }

  li .place_right {
  float: right;
  text-align: left;
  padding-top: 5px;
  background-color: #FFFFFF;
  }


  .recommendRoom_description {
  float: left;
  padding-right: 5px;
  text-align: left;
  background-color: #FFFFFF;
  }

  .recommendRoom_description_right {
  float: right;
  padding-right: 5px;
  text-align: right;
  background-color: #FFFFFF;
  vertical-align: middle;
  }

  .room_price_pink_bold {
  color: #ff1493;
  font-weight: bold;
  font-size: 1.5em;
  }

  .room_price_pink{
  color: #ff1493;
  }

  .img_padding {
  padding-bottom: 5px;
  }

  /*tabbed nav */
  ul.tabbed_nav {
  float: left;
  padding-top: 5px;
  width:664px;
  background-color: #FFFFFF;
  margin: 0px;
  border-width: 0;
  }

  ul.tabbed_nav li {
  float: left;
  margin: 0px;
  border: 1px solid #999999;
  border-bottom-width: 0;
  border-right-width: 0;
  padding-top: 5px;
  color: #999999;
  }

  ul.tabbed_nav li.last {
  float: left;
  margin: 0px;
  border: 1px solid #999999;
  border-bottom-width: 0;
  padding-top: 5px;
  color: #999999;
  }

  ul.tabbed_nav selected {
  background-color: #FFFFFF;
  color: #000000;
  /*border-color: black;*/
  }

  ul.tabbed_nav li a {
  display: block;
  padding: 5px;
  position: relative;
  color: #999999;
  }

  ul.tabbed_nav li.selected a {
  top: 1px;
  background: white;
  color: black;
  font-weight: bold;
  position: relative;
  }
  /*
  ul.section_top_nav li.line_text a{
  color: #999999;
  }
  */
  ul.tabbed_nav li.tabbed_nav_more {
  float:right;
  padding: 0px;
  border: 0;
  }

  ul.tabbed_nav li.tabbed_nav_more a {
  display: block;
  padding-top: 10px;
  position: relative;
  color: #0087D2;
  }

  ul.tabbed_nav li span{
  color: #0087D2;
  padding-top:8px;
  }

  .tabbed_nav_bgcolor {
  background-color: #D9DDFB;
  }


  ul.tabbed_nav a:hover {
  background: #ddf;
  }

  .tabbed_nav_content {
  border: 1px solid black;
  clear: both;
  padding: 5px 5px;
  border-width: 1px 0 0 0;
  border-color: #999999;
  background-color: white;
  }

  .place_list_borderless {
  background-color: white;
  }

  .place_list_borderless li
  {
  padding: 5px 0;
  }

  ul.place_list_borderless li .place_img {
  float: left;
  padding-right: 8px;
  }

  ul.roomShow_list_dotted li {
  {
  border-bottom: 1px dotted #DDDDDD;
  padding: 5px 0;
  }

  .label {
  font-weight:bold;
  color:black;
  }

  .green_text {
  color: green;
  }

  .recommendRoom_description h1 a {
  display: block;
  font-size: 14px;
  font-weight: bold;
  height: 17px;
  overflow: hidden;
  padding-bottom: 5px;
  }

  ul.roomShow_list li.recommendRoom_img_border {
  float: left;
  padding-right: 8px;
  border: 1px solid #DDDDDD;
  }
  /*  .recommendRoom_description span {
  color: #999999;
  }
  */

  .recommendRoom_description ul.caption_list {
  /*display: list-item;*/
  padding: 0 0 5px 0;
  border:0;
  }

  .caption_list li.list_caption {
  display: list-item;
  padding:0 0 5px 0;
  border:0;
  }

  ul.caption_list li .list_desc {
  display: list-item;
  padding:0 0 2px 0;
  border:0;
  color: #999999;
  }

  ul.caption_list li .list_link_green {
  display: list-item;
  border:0;
  color: green;
  }

</style>

<script language="javascript">
  $(".recommendRoom_left").live('mouseover',function(){
  $(this).css("backgroundColor","#f4f4f4");
  });

  $(".recommendRoom_left").live('mouseout',function(){
  $(this).css("backgroundColor","#fff");
  });

  $(".recommendRoom_right").live('mouseover',function(){
  $(this).css("backgroundColor","#f4f4f4");
  });

  $(".recommendRoom_right").live('mouseout',function(){
  $(this).css("backgroundColor","#fff");
  });

</script>
<!--
captions=["掀起一帘幽梦掀起一帘幽梦掀起一帘幽梦掀起一帘幽梦","燕郊温馨公寓","亚运村欢聚一堂","湖光山色两相宜","海豚湾一居","牡丹园五道口"]
prices =["￥280","￥250","￥270","￥320","￥350","￥220"]
sources=["商家:爱日租","商家:蚂蚁网","商家:游天下","商家:住我那","商家:途家","商家:美租网"]
images =["lovedream","warmapt","asiagathering","mountlakes","coastal","flowergarden"]
-->

<div class="main_body">
  <div class="float_left main_floatLeft margin_bottom_15">

<!--热门去处 start -->    
      <div class="section_title_block">
            <h1>热门去处</h1>
        <span class="float_right">
          <a href="#" style="padding: 8px 8px 8px 20px;">
            更多>>
          </a>
        </span>
        <div class="clear"></div>
      </div>

      <ul class="roomShow_list">

<% 
n=0
while n < @houses.size
house=@houses[n]

%>
          <li style="background: none repeat scroll 0% 0% rgb(255,255,255);">
          
          <div class="recommendRoom_left" style="width:145px;">

            <a href="/ShowHouse/AAA83BF2B1D8CFB3" target="_blank">
              <img src="<%=full_image_path(house['source_id'],house['images_key'])%>" alt="<%=house["title"]%>" title="<%=house["title"]%>" width="145" height="92"/>
            </a>

          <div class="TColor_535353" title="<%=house["title"]%>" style="width:145px;">
              <%=house["title"]%>(<span class="room_price_pink">￥<%=house["price_day"]%></span>)            
          </div>

          <span class="TColor_999">
            <%=t(:source_label)%><%=source_name(house["source_id"]) %>
          </span>

          <div class="clear"></div>
        </div>

<%
n += 1 
house = @houses[n]
%>
            <div class="recommendRoom_right">
              
                <a href="/ShowHouse/AAA83BF2B1D8CFB3" target="_blank">
                  <img src="<%=full_image_path(house['source_id'],house['images_key'])%>" alt="<%=house["title"]%>" title="<%=house["title"]%>" width="145" height="92"/>
                </a>

              <div class="TColor_535353" title="<%=house["title"]%>" style="width:145px;">
                  <%=house["title"]%>(<span class="room_price_pink">￥<%=house["price_day"]%>
                  </span>)                
              </div>

              <span class="TColor_999">
                <%=t(:source_label)%><%=source_name(house["source_id"]) %>
              </span>

              <div class="clear"></div>
            </div>

            <div class="clear"></div>
       
          </li>
        <%
        n += 1
        end
        %>        
      </ul>
    <!--热门去处 end -->

    <!--品牌推广 start -->
    <div class="section_title_block">
      <h1>品牌推广</h1>
      <span class="float_right">
        <a href="#" style="padding: 8px 8px 8px 20px;">
          更多>>
        </a>
      </span>
      <div class="clear"></div>
    </div>
<!--    
brandImg = ["youtx","airizu","mayi","tujia","meizu","lezuke","aizuke","qmango"]
brandCaption = ["游天下搜房网棋下网站-短租房","人在旅途, 爱在日租","寻找旅行中的家","一家高品质度假公寓在线平台","高性价比和特色短租房的交易平台","为旅游, 出差的您提供全面","专注于短租日租房在线交易平台","领先的经济类酒店在线预订平台"]
brandDesc = ["面向全国超过300个城市短租公寓等在线预顶服务平台","爱日租网站提供100%验证短租房在线预顶服务","蚂蚁网是赶集棋下网站, 是超便宜, 最可信, 有保障的在线交易平台","途家网与携程网建立战略合作伙伴关系, 实力雄厚, 值得信赖","查找并预订, 租赁全国各地, 不同类型, 高性价比短租房","在乐租客, 您将拥有全新的最棒的租房体验! 快来加入乐租客","你也以低于酒店的价格享受家一般的居住环境","芒果网棋下专门从事经济类酒店预订的电子商务
  B2C网站"]
brandLink = ["www.youtx.com","www.airizu.com","www.mayi.com","www.tujia.com","www.meizu.com","www.lezuke.com","www.aizuke.com","www.qmango.com"]
  
n = 0
while n < brandImg.length
-->

    <ul class="roomShow_list">
<% 
n = 0
@brands.each do |brand|
domain_path = brand['url']
domain_path.slice!("http://")
domain_path.slice!("/")
%>

      <li>
        <div class="recommendRoom_img">

          <a href="<%=brand['url']%>" target="_blank">
            <img src="/images/<%=brand['logo']%>" alt="<%=brand['title']%>" title="<%=brand['title']%>" width="64" height="64"/>
          </a>
          <div class="clear"></div>
        </div>

        <div class="recommendRoom_description" style="width:218px;">
          <ul>
            <li style="display: list-item; padding: 0 0 5px 0; border:0;font-weight:bold; color: #0087D2">
            <h1>
                <%=brand['title']%>               
              </h1>
            </li>
            <li style="display: list-item; padding: 0 0 2px 0; border:0;">
              <div style="color: #999999; font-size:12px;overflow:auto;">
                <%=brand['digest']%>
              </div>
              <div class="clear"></div>
            </li>

            <li style="display: list-item;border:0;">
              <a href="<%=brand['url']%>" style="color: green">
                <%=domain_path%>
              </a>
            </li>

            <div class="clear"></div>
          </ul>
          
        </div>

        <div class="clear"></div>
      </li>
  <%
    n += 1
    end
    %>
      </ul>
    <!--品牌推广 end -->

    
    <!--短租统计 start -->
    <div class="section_title_block">
      <h1>短租统计</h1>
      <span class="float_right">
        <a href="#" style="padding: 8px 8px 8px 20px;">
          更多>>
        </a>
      </span>
      <div class="clear"></div>      
    </div>

<script language="javascript" type="text/javascript">
    function suffixFormatter(val, axis) {
        if (val > 12)
            return (val.toFixed(axis.tickDecimals) - 12) + "月";
        else
            return val.toFixed(axis.tickDecimals) + "月";
    }

  function plot_chat() {

  var d = [[10, 5000], [11, 4900], [12, 5100], [13, 5200],[14,5300]];
    $.plot($("#stats_chart"), 
    [{
        data: d,
    }],
    {
        colors: ["#FF6600"],
        series: {
            points: { show: true,fill:true,fillColor: "#ff3300", },
            lines: { show: true }
        },
        xaxis: {
          tickDecimals:0,
          minTickSize: 1,
          tickFormatter: suffixFormatter
        }
   }
  );
  }

</script>

    <div style="float: left; padding: 15px 0 0 8px;">

      <div id="stats_chart" style="height:170px; width:225px;">
      </div>
<!--      
      <a href="/ShowHouse/AAA83BF2B1D8CFB3" target="_blank">
        <img src="/images/stats_pek.png" width="224" height="244"/>
      </a>
-->         
      <div class="clear"></div>
<%
  totalHouses = 583
totalNites = 2560
  %>
      <div style="color:#999999;padding-left:10px;padding-top:30px;">
        <p>根据搜短租统计, 北京本月:</p>
        <p>新增日租房源 <span style="color: red; font-weight:bold;"><%=totalHouses%>套</span></p>
        <p>租出 <span style="color: red; font-weight:bold;">
          <%=totalNites%>晚
        </span>
      </p>
      </div>
    </div>

    <!--短租统计 end -->

  </div>

  <div class="float_right main_floatRight">
    <div class="img_padding">
    <a href="http://www.souduanzu.com/app" >
    <img src="images/mobile.png" alt="手机客户端 - 免费下载" title="手机客户端 - 免费下载"width="664" height="70"></img>
    </a>
    </div>
    <div class="img_padding">
      <img src="images/househunt.png" width="664" height="70"></img>
    </div>
    <div class="img_padding">
      <img src="images/logo_big.png" width="664" height="145"></img>
    </div>

    <!--recommended travel section -->
    <div class="tabbed_nav_bgcolor">
      <ul class="tabbed_nav">
        <li class="selected">
          <a href="#">
            <h1>当季游短租推荐</h1>
          </a>
        </li>
        <li>
          <a href="#">自驾游短租推荐</a>
        </li>
        <li>
          <a href="#">自助游短租推荐</a>
        </li>
        <li class="last">
          <a href="#">优质短租推荐</a>
        </li>
        <li  class="tabbed_nav_more">
          <a href="#">更多热门短租>></a>
        </li>
      </ul>

      <div class="clear"></div>
      <div class="tabbed_nav_content">
        <ul class="roomShow_list">
          <li>
            <%
        travel_caption=["杭州3日亲子游","神向往的地方, 周庄1日游","从昆明到云南, 8天自助游"]
              businessSourceLabel="商家"
              travel_source=["爱日租","蚂蚁网", "游天下"]
              travel_img =["hangzhou","zhouzhuang","kunming"]
              timeLabel="时间"
              travel_time=["2012.02.10","2012.01.15","2012.01.23"]
              hot_caption="不可错过的热门去处"
              n = 0
              while n < travel_caption.length

%>
<!--  <li style="display: list-item;padding:0 0 5px 0;border:0;width:210px;">-->
            <div style="float:left;width:210px;padding: 5px 5px 5px 0;">
              <div style="padding:5px 0;color:#999999;">
                <%=travel_caption[n]%>
              </div>
              <div class="clear"></div>
              <div>
                <img href="#" src="/images/<%=travel_img[n]%>.png" width="205" height="85">
                </img>
              </div>
              <div style="padding:5px 0;color:#999999;">
                <span style="width:100px;float:left;">
                  <%= businessSourceLabel%>: <%=travel_source[n]%>
                </span>
                <span style="float:left; width:100px;padding-right:5px;">
                  <%=timeLabel%>: <%=travel_time[n]%>
                </span>
              </div>
              <div class="clear"></div>
            </div>
            <!--  </li>        -->
            <%
n += 1
            end
            %>
            <div class="clear"></div>
            <!--      </ul>-->
          </li>

          <li>
            <div style="float:left;width:210px;padding: 5px 5px 5px 0;">
              <div style="padding:8px 0;color:green;font-size:14px;">
                <%=hot_caption%>>>
              </div>
              <div class="clear"></div>
              <div>
                <img href="#" src="/images/valentine.png" width="200" height="147">
                </img>
              </div>
            </div>

            <div style="float:left;padding: 25px 5px 5px px;width:420px;">
<%
  n=0
  hot_images = ["valentine1","valentine2","valentine3","valentine4","valentine5","valentine6","valentine7","valentine8","valentine9","valentine10"]
  while n < hot_images.length
%>                
                <span style="display: list-item; padding:2px 2px 2px 2px;border:0;width:80px;float:left;">
                <img href="#" src="/images/<%=hot_images[n]%>.png" width="77" height="77">                
                </img>
                  </span>
<%
  n += 1
  end
  %>
  <div clear="clear"></div>

              
            </div>

            <div class="clear"></div>

          </li>
          <div class="clear"></div>

        </ul>
        <div class="clear"></div>
      </div>
    </div>
  <!--recommended travel section end-->

  <!--recommended room section -->
    <div class="tabbed_nav_bgcolor">
      <ul class="tabbed_nav">
        <li class="selected">
          <a href="#">
            <h1>热门房间</h1>
          </a>
        </li>
        <li>
          <a href="#">特价房间</a>
        </li>
        <li>
          <a href="#">特色去处</a>
        </li>
        <li class="last">
          <a href="#">多人租房</a>
        </li>
        <li  class="tabbed_nav_more">
          <a href="#">更多热门攻略>></a>
        </li>
      </ul>

      <div class="clear"></div>
      <%
  captions2=["北京最便宜的旅馆到普通双人间","临近什刹海, 四合院复式单间","沿海居所高层海景房三期08号","三亚椰海风情居-12楼, 豪华大圆床"]
      prices2 =["￥115","￥175","￥580","￥308"]
      businessSourceLabel="商家"
      houseTypeLabel="房屋类型"
      availResidentLabel="可住人数"
      sources2=["游天下","爱日租","途家","蚂蚁网"]
      images2 =["lovedream","warmapt","asiagathering","mountlakes","coastal","flowergarden"]
      houseTypes=["公寓","公寓","公寓","家庭旅馆"]
      availResident=["3","3","3","3"]
      peopleUnit="人"
      addresses=["北京市朝阳区北苑来春园小区","北京朝阳区建国门外大街建华南路","中国海南省三亚市三亚湾蓝色海岸","海南省三亚市市辖区大东海花园小区"]
      nightUnit= "每晚"
      %>
      <div class="tabbed_nav_content">
        <ul class="roomShow_list">
          <% 
i = 0
while i < captions2.length
%>
  
<li>

            <div class="recommendRoom_img">

              <a href="/ShowHouse/AAA83BF2B1D8CFB3" target="_blank">
                <img src="/images/<%=images2[i]%>.png" alt="<%=captions2[i]%>" title="<%=captions2[i]%>" width="116" height="72"/>
              </a>
            </div>

            <div class="recommendRoom_description">
              <ul>
                <li  style="display: list-item;padding:0 0 5px 0;border:0;" >
                  <h1>
                    <a title="<%=captions2[i]%>" href="#"><%=captions2[i]%>
                    </a>
                  </h1>
                </li>
                <li  style="display: list-item;padding:0 0 2px 0;border:0;color: #999999">
                  <span>
                    <%=addresses[i]%>
                  </span>
                </li>

                <li style="display: list-item; width:100px;float: left;border:0;">

                  <span class="label">
                    <%=businessSourceLabel%>:
                  </span>
                  <span class="green_text">
                    <%=sources2[i]%>
                  </span>
                  <div class="clear"></div>
                </li>

                <li style="display: list-item; width:112px;float: left;border:0;">
                  <span class="label">
                    <%=houseTypeLabel%>:
                  </span>
                  <span class="green_text">
                    <%=houseTypes[i]%>
                  </span>
                  <div class="clear"></div>
                </li>

                <li style="display: list-item; width:112px;float: left;border:0;">
                  <span class="label">
                    <%=availResidentLabel%>:
                  </span>
                  <span class="green_text">
                    <%=availResident[i]%><%=peopleUnit%>
                  </span>
                  <div class="clear"></div>
                </li>

                <div class="clear"></div>
              </ul>
            </div>

            <div class="recommendRoom_description_right">
              <div style="color: #999999;padding-top:15px;">
                <%=nightUnit%>
              </div>
              <div class="room_price_pink_bold">
                <%=prices2[i]%>
              </div>
              <div class="clear"></div>
            </div>
            <div class="clear"></div>
          </li>
          <%
  i += 1
          end
          %>
        </ul>
      </div>
    </div>

  <!--new section start-->
  <div class="tabbed_nav_bgcolor">
    <ul class="tabbed_nav">
      <li class="selected">
        <a href="#">
          <h1>短租资讯</h1>
        </a>
      </li>
      <li>
        <a href="#">媒体报道</a>
      </li>
      <li>
        <a href="#">最新动态</a>
      </li>
      <li class="last">
        <a href="#">玩转短租</a>
      </li>
      <li  class="tabbed_nav_more">
        <a href="#">更多热门攻略>></a>
      </li>
    </ul>

    <div class="clear"></div>
    <%
      fromLabel="来自"
      news_source=["腾讯网","腾讯网","腾讯网","腾讯网","腾讯网","腾讯网"]
      news_digest= ["搜短租网:欲打造日租短租导航及垂直搜索领域的\"去哪儿\"","搜短租网:欲打造日租短租导航及垂直搜索领域的\"去哪儿\"","搜短租网:欲打造日租短租导航及垂直搜索领域的\"去哪儿\"","搜短租网:欲打造日租短租导航及垂直搜索领域的\"去哪儿\"","搜短租网:欲打造日租短租导航及垂直搜索领域的\"去哪儿\"","搜短租网:欲打造日租短租导航及垂直搜索领域的\"去哪儿\""]

      news_desc=["搜寻600多家网站, 收录10万套...","搜寻600多家网站, 收录10万套...","搜寻600多家网站, 收录10万套...","搜寻600多家网站, 收录10万套...","搜寻600多家网站, 收录10万套...","搜寻600多家网站, 收录10万套..."]
      news_time=["2012. 2. 20","2012. 2. 20","2012. 2. 20","2012. 2. 20","2012. 2. 20","2012. 2. 20"]
      news_image=["info1","info2","info3","info4","info5","info6"]

      %>
      <div class="tabbed_nav_content">
        <ul class="place_list_borderless">
          <% 
n = 0
while n < news_source.length
%>
<li>
<!--            <div style="float:left;width:300px;padding: 0;border:0;">-->
              <!-- -->
  <div class="place_left">
              <div class="place_img">
      <img src="/images/<%=news_image[n]%>.png" width="74" height="74"/>
              </div>
                
                <div class="recommendRoom_description" style="width:200px;">
                  <ul>
                    <li  style="display: list-item;padding:0 0 2px 0;border:0;color: #999999">
                      <span style="width: 20px;">
                        <%=fromLabel%>
                      </span>
                      <span>
                        <%=news_source[n]%>
                      </span>
                      <div class="clear"></div>
                    </li>

                    <li  style="display: list-item;padding:3px 0 0 0;border:0;color: #0087D2;font-size:15px;" >
                      <h1 style="font-size:15px;">
                        <%=news_digest[n]%>
                      </h1>
                    </li>

                    <li style="display: list-item; float: left;border:0;padding-top:5px;">
                      <span class="label">
                        <%=news_desc[n]%>
                      </span>
                      <div class="clear"></div>
                    </li>

                    <li style="display: list-item; float: left;padding:0;border:0 0 3px 0;color:#999999;width:100%;">
                      <span class="label">
                        <%=fromLabel%>:
                      </span>
                      <span>
                        <%=news_time[n]%>
                      </span>
                      <div class="clear"></div>
                    </li>

                    <div class="clear"></div>
                  </ul>
                  <div class="clear"></div>

                </div>
<!--                
      </tr>
      </table>
-->
                <div class="clear"></div>
              </div>
<%
  n += 1
  %>
  <div class="place_right">
    <div class="place_img">
      <img src="/images/<%=news_image[n]%>.png" width="74" height="74"/>
    </div>

    <div class="recommendRoom_description" style="width:200px;">
      <ul>
        <li  style="display: list-item;padding:0 0 2px 0;border:0;color: #999999">
          <span style="width: 20px;">
            <%=fromLabel%>
          </span>
          <span>
            <%=news_source[n]%>
          </span>
          <div class="clear"></div>
        </li>

        <li  style="display: list-item;padding:3px 0 0 0;border:0;color: #0087D2;font-size:15px;" >
          <h1 style="font-size:15px;">
            <%=news_digest[n]%>
          </h1>
        </li>

        <li style="display: list-item; float: left;border:0;padding-top:5px;">
          <span class="label">
            <%=news_desc[n]%>
          </span>
          <div class="clear"></div>
        </li>

        <li style="display: list-item; float: left;padding:0;border:0 0 3px 0;color:#999999;width:100%;">
          <span class="label">
            <%=fromLabel%>:
          </span>
          <span>
            <%=news_time[n]%>
          </span>
          <div class="clear"></div>
        </li>

        <div class="clear"></div>
      </ul>
      <div class="clear"></div>

    </div>
    <!--                
      </tr>
      </table>
-->
    <div class="clear"></div>
  </div>

  <div class="clear"></div>
</li>
          <%
  n += 1
          end
          %>
        </ul>        
    </div>

    <!--new section end-->

    </div>
    
  </div>
    
  <div class="clear"></div>
</div>
