<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

  <title><%=t(:title)%></title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

  <meta name="keywords" content="<%=t(:meta_keywords)%>" />
  <meta name="description" content="<%=t(:meta_description)%>"/>
  <script language="javascript" src="http://tjs.sjs.sinajs.cn/t35/apps/opent/js/frames/client.js"></script>
</head>
<body>
<%= render "layouts/header" %>

<div class="bg_div">
<%= yield %>
<%= render 'layouts/footer' %>
</div>

<%= render 'layouts/gotobtn' %>

<%= debug(params) if Rails.env.development? %>
</body>
</html>
